<div class="bg-black/50">

    <header class="
        h-[54px]
        px-[20px]

        flex
        items-center
        justify-between
    ">

        <div class="
            flex
            items-center
            gap-[12px]
        ">
            <img
                src="./images/account_circle.svg"
                class="
                    h-[35px]
                    w-[35px]
                "
            >

            <span class="
                text-[20px]
                leading-none
                font-light
            ">
                <span class="font-bold">{{ me.name }}</span>님 안녕하세요!
            </span>
        </div>

        <button
            id="menu-button"
            class="ml-auto"
        >
            <img
                src="./images/menu.svg"
                class="
                    h-[28px]
                    w-[28px]
                "
            >
        </button>

    </header>

    <div class="
        mx-[10px]
        h-[1px]
        bg-white/20
    "></div>

</div>


<div
    id="drawer-overlay"
    class="
        hidden
        fixed
        inset-0

        bg-black/60
    "
></div>


<div
    id="drawer"
    class="
        hidden
        fixed
        top-0
        right-0
        bottom-0
        z-[1000]

        w-[75%]

        bg-[#111111]
        text-white
    "
>
    <div class="
        h-full
        px-[30px]
        pt-[80px]
        pb-[40px]

        flex
        flex-col
    ">

        <div class="
            flex
            items-center
            gap-[12px]
        ">
            <img
                src="./images/account_circle.svg"
                class="
                    h-[35px]
                    w-[35px]
                "
            >

            <span class="
                text-[20px]
                font-bold
            ">
                {{ me.name }}님
            </span>
        </div>


        <div class="
            mt-[60px]

            flex
            flex-col
            gap-[32px]
        ">
            <button
                onclick="location.href='/main'"
                class="
                    text-left
                    text-[20px]
                    font-normal
                "
            >
                메인페이지로
            </button>

            <button
                onclick="location.href='/mypage'"
                class="
                    text-left
                    text-[20px]
                    font-normal
                "
            >
                기록 확인하기
            </button>
        </div>


        <button
            onclick="location.href='/'"
            class="
                mt-auto
                text-left
                text-[18px]
                font-normal
            "
        >
            로그아웃
        </button>

    </div>
</div>

<script>
    const menuButton = document.getElementById("menu-button");
    const drawer = document.getElementById("drawer");
    const drawerOverlay = document.getElementById("drawer-overlay");

    menuButton.addEventListener("click", () => {
        drawer.classList.remove("hidden");
        drawerOverlay.classList.remove("hidden");
    });

    drawerOverlay.addEventListener("click", () => {
        drawer.classList.add("hidden");
        drawerOverlay.classList.add("hidden");
    });
</script>